[submodule "projetos/ExaMiniMD"]
	path = projetos/ExaMiniMD
	url = https://github.com/ECP-copa/ExaMiniMD.git
[submodule "projetos/Quicksilver"]
	path = projetos/Quicksilver
	url = https://github.com/LLNL/Quicksilver.git
[submodule "projetos/ExaMPM"]
	path = projetos/ExaMPM
	url = https://github.com/ECP-copa/ExaMPM.git
[submodule "projetos/Cabana"]
	path = projetos/Cabana
	url = https://github.com/ECP-copa/Cabana.git
[submodule "projetos/goulash"]
	path = projetos/goulash
	url = https://github.com/LLNL/goulash.git
[submodule "projetos/IAMR"]
	path = projetos/IAMR
	url = https://github.com/AMReX-Fluids/IAMR.git
[submodule "projetos/hypar"]
	path = projetos/hypar
	url = https://bitbucket.org/deboghosh/hypar/
[submodule "projetos/dependencies/kokkos"]
	path = projetos/dependencies/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "projetos/dependencies/amrex"]
	path = projetos/dependencies/amrex
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "projetos/dependencies/AMReX-Hydro"]
	path = projetos/dependencies/AMReX-Hydro
	url = https://github.com/AMReX-Codes/AMReX-Hydro.git
[submodule "projetos/miniMDock"]
	path = projetos/miniMDock
	url = https://github.com/ORNL-PE/miniMDock
[submodule "projetos/Kripke"]
	path = projetos/Kripke
	url = https://github.com/LLNL/Kripke.git
[submodule "projetos/hipBone"]
	path = projetos/hipBone
	url = https://github.com/paranumal/hipBone.git
[submodule "projetos/LULESH"]
	path = projetos/LULESH
	url = https://github.com/LLNL/LULESH.git
